@use './normalize.scss';

:root {
  --bg: #0b0b0c;
  --fg: #ffffff;
  --brand: #8b5cf6;
}

html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
  background: var(--bg);
  color: var(--fg);
  font-family:
    'Galmuri9',
    Apple SD Gothic Neo,
    돋움,
    dotum,
    sans-serif;
}
.container {
  display: flex;
  width: 100%;
  height: 100%;
}

button {
  cursor: pointer;

  &:focus-visible {
    border: 0;
  }
}
