.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  gap: 10px;
  top: 40px;
  left: 0;
  width: 100%;
  padding: 15px 10px 10px;
  box-sizing: border-box;
  transform: translateY(20px);
  opacity: 0;
  animation: fadeUp 1.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
  z-index: 10;
}

.logo {
  width: 256px;
  height: 80px;
  background: url('/src/assets/images/home/home-logo.png') no-repeat 0 0;
  background-size: contain;
}

.nav {
  display: flex;
  gap: 10px;
  flex: 1;
  font-size: 15px;

  a {
    text-decoration: none;
    color: #5c7d89;
    cursor: pointer;

    &[aria-current] {
      color: #623fff;
      font-weight: bold;
      text-shadow: 1px 2px 6px #b9abff;

      &::before {
        content: '\27A4';
        margin-right: 5px;
      }

      html[data-darkmode='true'] & {
        text-shadow: none;
        color: #b3a2ff;
      }
    }
  }
}

// ν‘Έν„°
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 12px 16px;
  box-sizing: border-box;
  font-size: 14px;
  opacity: 0.8;
}

@keyframes fadeUp {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
