.career {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #e8f4fc 0%, #d4e8f2 100%);

  html[data-darkmode='true'] & {
    background: linear-gradient(180deg, #1a1530 0%, #0d0a18 100%);
  }
}
